@model BookShop.Models.Users.ViewBills
@{
    ViewData["Title"] = "ViewBils";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <div class="row">
        @foreach (var bill in Model.Bills)
        { 
            <div class="product-caption">
                <h4 align="center">Bill details:</h4>
                <h4 align="left">Address: @bill.Address</h4>
                <h4 align="left">Phone number: @bill.PhoneNumber</h4>
                <h4 align="left">Total Value: @bill.TotalValue.ToString() $</h4>

            </div>
        }
    </div>
</body>